<!DOCTYPE html >
<html>
  <head>
      <style type="text/css">
          body {
   color: white;
   background-color: black}
   /* th {
  background-color: #4CAF50;
  color: white;
} */
 </style>
  </head>
  <body>
<h1>  Pelicula </h1>

<h2>  {{Peliculas.title}} </h2>
<dl>
  {% for key, value in Peliculas.items %}
  <br>
  
      {% if key == "characterConnection" %}
        <dt>Personajes que aparecen en la pelicula:</dt>
        {% for id, name in value.items %}
          <dd>  <a href="/characters/{{id}}"> {{name}} </a> </dd>
        {% endfor %}

      {% elif key == "planetConnection" %}
        <dt>Planetas que aparecen en la pelicula:</dt>
        {% for id, name in value.items %}
          <dd>  <a href="/planets/{{id}}"> {{name}}</a> </dd>
        {% endfor %}

      {% elif key == "starshipConnection" %}
        <dt>Naves que aparecen en la pelicula:</dt>
        {% for id, name in value.items %}
          <dd>  <a href="/starships/{{id}}"> {{name}}</a> </dd>
        {% endfor %}

        {% elif key == "id"%}


      {% else %}
      <dt>  {{key}}:   {{value}} </dt>


      {% endif %}

  {% endfor %}
</dl>

<form action="/">
   <button type="submit">Pagina Principal</button>
</form>
</body>
</html>
