<!DOCTYPE html >
<html>
  <head>
      <style type="text/css">
          body {
   color: white;
   background-color: black}
   /* th {
  background-color: #4CAF50;
  color: white;
} */
 </style>
  </head>
  <body>

<h1>  Nave </h1>
<h2>  {{Naves.name}} </h2>
<dl>
  {% for key, value in Naves.items %}
  <br>
  
      {% if key == "pilotConnection" %}
        <dt>Pilotos de la nave:</dt>
        {% for id, name in value.items %}
          <dd>  <a href="/characters/{{id}}"> {{name}} </a> </dd>
        {% endfor %}
      {% elif key == "filmConnection" %}
        <dt>Peliculas en que aparece:</dt>
        {% for id, title in value.items %}
          <dd>  <a href="/films/{{id}}"> {{title}}</a> </dd>
        {% endfor %}


      {% elif key == "id"%}

      {% else %}
      <dt>  {{key}}:   {{value}} </dt>


      {% endif %}

  {% endfor %}
</dl>

<form action="/">
   <button type="submit">Pagina Principal</button>
</form>
</body>
</html>
